/* HTML Elements */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

/* CSS Grid */

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
}

/* Helper Classes */

.container {
  width: 100%;
  padding: 0 !important;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  display: flow-root;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left;
}

.clickable {
  cursor: pointer;
}

.divider {
  padding: 20px 0 0;
  margin: 0 0 20px;
  border-bottom: 1px dashed #bbb;
}

.full-width {
  width: 100%;
}

.success {
  background-color: #5cb85c;
}

/* Basket Specific Classes */

.basket {
  padding: 20px;
  background: white;
}

.basket-popover {
  position: relative;
}

.basket-popover .MuiPopover-paper {
  /* max-width: calc(100% - 30px);
  min-width: calc(100% - 30px);
  right: 15px;
  left: 15px; */
  width: 500px;
}

.basket-list .basket-row {
  padding: 0 0 10px;
}

.basket-list .basket-row:last-child {
  padding: 0;
}

.basket-row {
  clear: both;
  display: flow-root;
}

.basket-row.top .product-name {
  width: 50%;
}

.basket-row .basket-info {
  display: inline-block;
}

.basket-row .basket-unit {
  clear: both;
  display: flow-root;
  padding: 0 0 0 0;
}

.basket-savings .basket-header {
  display: block;
  padding: 0 0 10px;
  font-weight: bold;
}

.basket-savings ul {
  list-style: none;
}

.basket-savings li {
  display: flow-root;
  padding: 0 0 10px 0;
}

.basket-savings li:last-child {
  padding: 0;
}

.basket-counter {
  display: inline-block;
}

.basket-counter .basket-action {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  transition: background-color 250ms ease-in-out;
  font-size: 15px;
}

.basket-counter .basket-action:hover {
  background-color: #efefef;
}

.basket-counter .basket-count {
  display: inline-block;
  width: 50px;
  text-align: center;
}

/* Basic Media Queries */

@media (min-width: 600px) {
  .toolbar { width: 100%; }
  .wrapper { width: 100%; }
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 600px) {
  .basket-popover .MuiPopover-paper {
    max-width: calc(100% - 30px);
    min-width: calc(100% - 30px);
    right: 15px;
    left: 15px;
    width: auto;
  }
}