body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 !important;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  display: flow-root;
}

.pull-right {
  float: right;
}

.clickable {
  cursor: pointer;
}

@media (min-width: 600px) {
  .toolbar { width: 100%; }
  .wrapper { width: 100%; }
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}